<h1 class="mt-3">Casas con fósforos</h1>

<form action="/Ejercicio07" method="post">
  <div class="form-group">
      <label> En este ejercicio debes realizar una interpretación matemática de las relaciones algebraicas y geométricas. <br>
            Crear una función que reciba como argumento número casas y retorne el número de fósforos requeridos para dichas casas. Puedes tomar como referencia la imagen siguiente. <br>
            Ejemplo: <br>
            1 casa, 6 fósforos. <br>
            4 casas, 21 fósforos.

</label>
    <h3 for="casas"> Ingrese cantidad de casas </h3>
    <input type="text" name="casas" id="casas" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary"> Calculas fósforos </button>
</form>