<h1 class="mt-3">Función que retorna el número mayor</h1>

<form action="/Ejercicio03" method="post">
  <div class="form-group">
      <label>Crea una función que reciba como argumentos dos funciones, f y g, las cuáles no tienen parámetros. 
          Tu función debe llamarlas y retornar un string que indique cuál de las dos funciones retorna el mayor número.

</label>
    <label for="retornarNumero1"> Ingrese un número (g) </label>
    <input type="text" name="retornarNumero1" id="retornarNumero1" class="form-control">
  </div>

  </label>
    <label for="retornarNumero2"> Ingrese otro número (f) </label>
    <input type="text" name="retornarNumero2" id="retornarNumero2" class="form-control">
  

  <button type="submit" class="btn btn-primary">Retornar numero</button>
</form>