<h1 class="mt-3">Encontrar el número menor y mayor </h1>

<form action="/Ejercicio05" method="post">
  <div class="form-group">
      <label>Crea una función que reciba como parámetro un array de números y retorne el número menor y el número mayor, ambos en ese orden.

</label>
    <h3 for="encontrarNumero"> Ingrese la cantidad de números que desea en el array </h3>
    <input type="text" name="encontrarNumero" id="encontrarNumero" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary"> Encontrar número menor y mayor </button>
</form>