<h1 class="mt-3">División de números</h1>

<form action="/dividirnumero" method="post">
  <div class="form-group">
      <label>Dado un número, retornar un array que contenga las dos mitades del número. Si el número es impar, hacer que el número más a la derecha en el índice sea el número mayor.
</label>
    <label for="dividir"> Ingrese un número </label>
    <input type="text" name="dividir" id="dividir" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Dividir número</button>
</form>