<h1 class="mt-3">Suma de números desde un número singular</h1>

<form action="/Ejercicio02" method="post">
  <div class="form-group">
      <label>Crea una función que tome como argumento un número. Suma todos los números desde 1 hasta el valor que se pase como argumento. Por ejemplo, si el argumento es 4 entonces la función retorna 10 dado que 1 + 2 + 3 + 4 = 10.

</label>
    <label for="numeroSuma"> Ingrese un número para sumar </label>
    <input type="text" name="numeroSuma" id="numeroSuma" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Sumar Número</button>
</form>